<!-- Main logging configuration file -->
<configuration scan="true" scanPeriod="30 seconds" debug="true" >
	
	<!-- Allow JMX Management of Logback -->
	<jmxConfigurator />
	
	<!-- Default configuration properties -->
	<property name="DEFAULT_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />     <!-- Default log file encoder pattern -->
	<property name="LOG_DIR" value="log" />     <!-- Default log directory -->
	
	<!-- Logging Sub-Configuration Files -->
	<include resource="config/system/root.inc.xml" />     <!-- Root logging configuration -->
	<include resource="Scheduler/legacy.inc.xml" />     <!-- Legacy modules logging configuration -->
	<include resource="config/system/io.coursescheduler/util/preferences/preferences.inc.xml" />     <!-- Preferences logging configuration -->
	<include resource="config/system/io.coursescheduler/util/guice/guice.inc.xml" />     <!-- Guice logging configuration -->
	<include resource="config/system/io.coursescheduler/scheduler/parse/parser.inc.xml" />     <!-- Parser logging configuration -->
	<include resource="config/system/io.coursescheduler/scheduler/datasource/datasource.inc.xml" />     <!-- DataSource logging configuration -->
	
</configuration>